@font-face {
    font-family: "titlefont";
    src: url("Recoleta-RegularDEMO.otf");
  }

body {
    font-family: titlefont, serif;
    background-color: #fcf6f6;
    color: #0147BB;
}

a {
    color: #0147BB;
}

a:hover {
    color: #2277ff;
    text-decoration: none;
}

#heroImg {
    max-height: 80vh;
    width: 100%;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 15px;
    letter-spacing: 1.5px;
}

h4 {
    font-size: 20px;
}

.side-nav {
    position: sticky;
    top: 30vh;
    font-size: 20px;
}

.active {
    background-color: #DEE0ED;
    padding: 1px 10px;
}

.card-body {
    background-color: #FCF6F6;
}

.card-title {
    font-size: 18px;
}

.year-title {
    position: relative;
    top: 25%;
    font-size: 17px;
}

#contact > p {
    font-size: 15px;
    line-height: 25px;
}

.nav-link {
    font-size: 25px;
}

.about-text {
    text-align: justify;
}