@font-face {
    font-family: "titlefont";
    src: url("Recoleta-RegularDEMO.otf");
}

.close-btn {
    font-family: sans-serif;
}

body {
    font-family: titlefont, serif;
    background-color: #fcf6f6;
    color: #0147BB;
}

a {
    color: #0147BB;
}

a:hover {
    color: #4f86df;
    text-decoration: none;
}

#nav {
    /* height: 100px; */
    padding-top: 20px;
}

/* #social {
    position: absolute;
    bottom: 0;
} */

/* #hero {
    height: calc(100vh - 100px);
} */

#heroImg {
    max-height: 70vh;
    width: 100%;
    object-fit: contain;
}

h1 {
    font-size: 35px;
    letter-spacing: 1px;
}

h2 {
    font-size: 13px;
    letter-spacing: 1px;
}

h4 {
    font-size: 20px;
}

.side-nav {
    position: sticky;
    top: 30vh;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .side-nav {
        position: static;
    }
}

.modal-img {
    width: 100%;
    height: 80vh;
    object-fit: contain;
}

span.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%230147BB' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

span.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%230147BB' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
/* .active {
    background-color: #DEE0ED;
    padding: 1px 10px;
} */

.card-img-top {
    object-fit: contain;
    height: 250px;
    /* width: 330px; */
}

.work-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
    cursor: zoom-in;
}

.work-card {
    width: 330px;
}

.img-essay {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.essay-blocks {
    width: 330px;
    /* width: 100%; */
}

/* #essay-container {
    max-width: 330px;
} */

.card-body {
    background-color: #FCF6F6;
}

.card-title {
    font-size: 16px;
}

.year-title {
    position: relative;
    top: 25%;
    font-size: 15px;
}

#contact > p {
    font-size: 15px;
    line-height: 25px;
}

.nav-link {
    font-size: 20px;
}

.about-text {
    text-align: justify;
}